/* You can add global styles to this file, and also import other style files */

$enable-rounded: false;
@import "../node_modules/bootstrap/scss/bootstrap";


pre.debug {
  border: 2px solid orange;
  background-color: black;
  color: green;
  font-size: 3em;
}
